body {
  margin: 0;
  font-family: 'DM Serif Display', serif;
  background-image: url('./img//AdobeStock.jpg');
  background-color: rgba(215, 222, 233, 0.486);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-attachment: fixed;
  text-align: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

div.notification__item--danger {
  background-color: rgba(206, 132, 132, 0.836);
  border-left: 8px solid rgb(173, 71, 71);
}

div.notification__item--danger .notification__timer {
  background-color: rgb(173, 71, 71);
}
